@page "/Stocks"
@rendermode InteractiveAuto
@using BusinessLayer
@using Models
@using System.Text.Json


<PageTitle>Stocks</PageTitle>


<img id="headerimg" src="FUNANZA.png" />

<SignIn UserChanged="UserChanged"></SignIn>

@if (user != null)
{
    <StockSearch User="user"></StockSearch>
    <Portfolio User="user"></Portfolio>
}
else
{
    <p>Please sign in to view stocks. (try: admin, admin)</p>
}

@code {
    User user;

    private async Task UserChanged(User newUser)
    {
        user = newUser;
        StateHasChanged(); // Uppdatera vyn efter att användaren har ändrats
    }
}
